table,
th,
td,
tr {
  background: palegreen;
  border: 4px groove springgreen;
  border-bottom-color: white;
  color: black;
  padding: 2px;
}

marquee {
  background: yellow;
}

body {
  background: url("./img/bg.gif");
  padding: 0;
  margin: 0;
}
