<div class="row center-block animated fadeInUp">
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 about-page-block">
		<img id="profile-img" class="img-responsive center-block" src="/content/images/headshot.jpg">
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 about-page-block">
		<h4>Who I Am</h4>

		<p>Hey there, I'm Erick. Welcome to my personal web page! Let me tell you a little about myself. I'm a Software Engineering student from Montreal, Canada. My computer science interests lie in web design and machine learning. In my spare time, I enjoy creating digital art, taking pictures, and thrift shopping.</p>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 about-page-block">
		<h4>Programming Skills</h4>
		<ul>
			<li>Java</li>
			<li>JavaScript</li>
			<li>HTML and CSS</li>
			<li>Bootstrap</li>
			<li>AngularJS</li>
			<li>Git</li>
		</ul>
	</div>
</div>