<div class="row center-block animated fadeInUp">
	<div class="col-xs-12 col-sm-4 about-page-block">
		<img id="profile-img" class="img-responsive center-block" src="/content/images/headshot.jpg">
	</div>
	<div class="col-xs-12 col-sm-8 col-md-4 about-page-block">
		<h4>Who I Am</h4>

		<p>Hey there, I'm Erick. Welcome to my personal web page! Let me tell you a little about myself.
			I'm a Software Engineering student from Montreal, Canada. I'm particularly interested in web
			development and am currently interning at Ubisoft Montreal.In my spare time, I enjoy creating
			digital art, taking pictures, and thrift shopping.</p>
	</div>
	<div class="col-xs-12 col-md-4 about-page-block">
		<h4>Skills</h4>
		<div id="skills">
			<div ng-repeat="skill in vm.skills" class="hint--bottom col-xs-4" aria-label="{{skill}}">
				<i class="devicon-{{skill}}-plain icon"></i>
			</div>
		</div>
	</div>
</div>