<p class="animated fadeInUp">
	I like taking pictures sometimes! I shoot on a Fujifilm X-E1
	mirrorless camera, alternating between the Fujinon XF 35mm F2.0
	and the Fujinon XF 27mm F2.8 lenses. You can check out my Flickr profile
	<a href="https://www.flickr.com/photos/151758913@N02/">here</a>.
</p>

<div class="row animated fadeInUp">
	<div ng-repeat="photo in vm.photos">
		<div class="col-xs-12">
			<a ng-href="{{photo.link}}"><img class="img-responsive thumbnail" ng-src="{{photo.media.m}}"></a>
		</div>
	</div>
</div>