<div class="container">
	<div>
		<h3 class="text-center animated fadeInUp">Personal Projects</h3>
		<div class="row animated fadeInUp">
			<div ng-repeat="project in vm.projects">
				<div class="col-xs-12 col-sm-4 project-box">
					<h4 class="text-center">{{project.title}}<a href="{{project.repo}}"><i class="devicon-github-plain icon"></i></a></h4>
					<a ng-href={{project.link}}><img class="img-responsive center-block" ng-src="content/images/{{project.slug}}.png"></a>
					<div>{{project.description}}</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<h3 class="text-center animated fadeInUp">Codepen Experiments</h3>
		<div class="row animated fadeInUp">
			<div ng-repeat="project in vm.codepen.data">
				<div class="col-xs-12 col-sm-4 project-box">
					<h4 class="text-center">{{project.title}}</h4>
					<a ng-href={{project.link}}><img class="img-responsive center-block" ng-src="{{project.images.small}}"></a>
					<div ng-bind-html="project.details" class="project-text"></div>
				</div>
			</div>
		</div>
	</div>
	
</div>

