<div class="panel panel-default animated fadeInUp">
    <div class="panel-heading">
        Education
    </div>
    <div class="panel-body">
        <strong>B. Eng. Software Engineering</strong> - McGill University <i>(2015-2019)</i>
        <ul>
            <li>CGPA: 3.7/4.0</li>
        </ul>
        <strong>Diplôme d’études collégiales</strong> - Marianopolis College <i>(2013-2015)</i>
        <ul>
            <li>Honours Health Science</li>
            <li>Honour Roll (Overall average > 85%)</li>
            <li>R-Score: 34.0</li>
        </ul>
    </div>
    <div class="panel-heading">
        Work Experience
    </div>
    <div class="panel-body">
        <strong>Front-end developer intern</strong> - Guiker <i>(Summer 2016)</i>
        <ul>
            <li>Developed dynamic web pages following MVC architecture using AngularJS 1.5.</li>
            <li>Used AJAX requests to communicate with the JavaEE backend to save information and display existing data.</li>
            <li>Used third-party Javascript libraries (angular-translate, Leaflet) to add features to the website.</li>
            <li>Fixed bugs in codebase and made minor UI adjustments.</li>
            <li>Learned to develop using the git workflow.</li>
        </ul>

        <strong>Administrative Assistant</strong> - Montreal Chinese Baptist Church <i>(Summer 2015)</i>
        <ul>
            <li>Performed various office tasks (scanning, photocopying, copying, sending e-mails, etc.)</li>
            <li>Honed organizational skills by planning events for the church’s 40th anniversary.</li>
        </ul>

        <strong>Peer Tutor</strong> - Marianopolis College <i>(2014-2015)</i>
        <ul>
            <li>Taught grammar and essay structure to 4 underclassmen, which led to noticeable grade increases (5~10%)</li>
            <li>Gained experience teaching to ESL students.</li>
        </ul>

        <strong>Research Assistant</strong> - Concordia University <i>(Summer 2013)</i>
        <ul>
            <li>Skimmed through dozens of research papers on sorting algorithms to filter the papers that my supervisor would then read.</li>
        </ul>
    </div>

    <div class="panel-heading">
        Extracurricular Activities
    </div>
    <div class="panel-body">
        <strong>Web page design</strong> - Personal website
        <ul>
            <li>You're looking at it right now!</li>
        </ul>

        <strong>Robot design</strong> - ECSESS RoboElectronics (Fall 2016)
        <ul>
            <li>Built a moving vehicle using a breadboard, programmable components, and wires.</li>
            <li>Programmed the vehicle to balance itself in C# using MPLAB by reading values off an accelerometer.</li>
            <li>Won the end-of-semester competition for best performance.</li>

        </ul>

        <strong>Club executive/Graphic designer</strong> - Marianartist Guild (2014-2015)
        <ul>
            <li>Designed over 10 posters for club workshops and events in Adobe Photoshop, and freelanced a handful of times for Student Union event advertisements. </li>
            <li>Managed the club’s Facebook presence.</li>
        </ul>

    </div>

    <div class="panel-heading">
        Skills and Interests
    </div>
    <div class="panel-body">
        <strong>Languages</strong>
        <ul>
            <li>Fluent: English and French</li>
            <li>Spoken: Mandarin Chinese</li>
        </ul>

        <strong>Programming Languages</strong>
        <ul>
            <li>
                Intermediate: Java, Javascript, HTML/CSS
            </li>
            <li>
                Beginner: Python, C#, C
            </li>
        </ul>

        <strong>Software</strong>
        <ul>
            <li>Adobe Photoshop</li>
            <li>Microsoft Office</li>
            <li>Git</li>
            <li>bash</li>
        </ul>

        <strong>Hobbies</strong>
        <ul>
            <li>Digital collage</li>
            <li>Guitar</li>
            <li>Dragonboating</li>
            <li>Video games</li>
        </ul>
    </div>
</div>