@import '__variables';
@import 'utility';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli');
@import 'nav';
@import 'sections';

body {
  font-family: 'Muli', 'Helvetica Neue', sans-serif;
  counter-reset: h1counter;
  color: $dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

p {
  z-index: 10;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  max-width: 500px;
}

a {
  color: $light;
  &:hover {
    color: darken($light, 20%);
  }
}

.btn {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0px;
  border: 0px;
  &.btn-erick {
    @extend .wipe-hover;
    background-color: $primary;
    &:focus, &:active, &:hover {
      background-color: $light;
      color: $dark;
      box-shadow:  5px 5px black;
    }
  }
}

.nav-icon {
  margin: 10px 0px;
  padding: 0;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;

  &#project--up {
    background: url('/images/icons/arrow-up.svg');
  }

  &#project--down {
    background: url('/images/icons/arrow-down.svg');
  }
}