@import '__variables';
@import 'utility';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli');
@import 'nav';
@import 'sections';

body {
  font-family: 'Muli', 'Helvetica Neue', sans-serif;
  counter-reset: h1counter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

p {
  z-index: 10;
  @media screen and (min-width: 768px) { 
    max-width: 600px;
  }
}

a {
  color: $light;
  &:hover {
    color: darken($light, 20%);
  }
}

.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0px;
  border: 0px;
  &.btn-primary {
    background-color: $primary;
  }
}