.navbar {
  height: 80px;
  margin-bottom: -80px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  transition: all 0.3s ease-in-out;
  .navbar-brand,
  .nav-link {
    transition: all 0.3s ease-in-out;
  }
  &.navbar-dark {
    background-color: $dark;
    span {
      background-color: $primary;
    }
    .navbar-brand,
    .nav-link {
      color: $primary;
      &:hover,
      &:active,
      &:focus {
        color: $secondary;
      }
    }
  }
  &.navbar-clear {
    background-color: transparent;
    box-shadow: none;
    .navbar-brand,
    .nav-link {
      color: $light-text;
      &:hover,
      &:active,
      &:focus {
        color: $secondary;
      }
    }
  }
}

.navbar-toggler {
  height: 40px;
  width: 50px;
  padding: 0px 10px;
  &:focus,
  &:active {
    outline: 0;
  }
  span {
    display: block;
    background-color: $light-text;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    transform: rotate(0deg);
    position: relative;
    opacity: 1;
    &:nth-child(1),
    &:nth-child(3) {
      transition: transform .35s ease-in-out;
    }
    &:nth-child(2) {
      transition: all .35s linear;
    }
  }
  &:not(.collapsed) span {
    &:nth-child(1) {
      position: absolute;
      right: 30px;
      top: 30px;
      transform: rotate(135deg);
      opacity: 0.9;
    }
    &:nth-child(2) {
      visibility: hidden;
      background-color: transparent;
    }
    &:nth-child(3) {
      position: absolute;
      right: 30px;
      top: 30px;
      transform: rotate(-135deg);
      opacity: 0.9;
    }
  }
}