@import 'timeline';

#hero {
  color: black;
  background-color: transparent;
  #hero--main {
    @extend .fill-viewport;
    background-color: transparent;
    padding: 15vh 0;
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media (max-width: 480px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  h1 {
    max-width: 600px;
  }
  #button-container {
    display: flex;
    justify-content: flex-end;
    @media (max-width: 768px) {
      justify-content: center;
    }
  }
  .parallax-layer {
    @extend .fill-viewport;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-size: 1500px;
    background-position: center;
    background-image: url('/images/810.jpg');
    z-index: -2;
  }
}

section:not(#hero) {
  max-width: 1000px;
  margin: 100px auto;
  h1 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    position: relative;
    margin-bottom: 50px;
    &::before {
      font-size: 40px;
      color: $primary;
      font-weight: 600;
      position: absolute;
      top: -20px;
      left: -10px;
      content: "0" counter(h1counter); // hope i don't have more than 9 sections oops
      counter-increment: h1counter;
      z-index: -1;
    }
    
  }
}

#about {
  p {
    background-color: $primary;
    color: white;
    padding: 30px;
    margin-top: 50px;
  }
  .headshot-container {
    position: relative;
    display: inline-block;
    &:hover {
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("/images/headshot-2.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;
      }
    }
    .headshot {
      position: relative;
      @media (max-width: 768px) {
        max-width:100%;
        height:auto;
      }
    }
  }
}

#experiences {

}