#hero {
  background: white;

  #hero--main {

    padding: 15vh 0 0 0;
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (max-width: 768px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  #description {
    padding: 10px;
    color: $dark;
    position: relative;
    max-width: 700px;

    h1 {
      font-weight: 900;
      font-size: 108px;
    }

    p {
      margin-bottom: 6px;
      // font-family: 'Courier New', Courier, monospace;
    }
  }
}

section {
  padding: 0px 15px;
  margin: 200px auto;
  h1 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    position: relative;
    margin-bottom: 50px;
    z-index: 10;
    &::before {
      font-size: 60px;
      opacity: 0.5;
      color: $accent;
      font-weight: 700;
      position: absolute;
      top: -30px;
      left: -20px;
      content: "0" counter(h1counter); // hope i don't have more than 9 sections oops
      counter-increment: h1counter;
      z-index: -1;
    }
  }
}

#photography {
  & > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .thumbnail-container {
    display: inline-block;
    position: relative;
    margin: 2px;
    padding: 0;
    &::before {
      transition: 0.25s linear all;
      content: "";
      height: 100%;
      width: 100%;
      background: rgba($dark, 0);
      z-index: 5;
      position: absolute;
    }
    &:hover {
      &::before {
        background: rgba($dark, 0.5);
      }
    }
  }

  #flickr-btn {
    a {
      display: flex;
      align-items: center;
    }
    img {
      height: 16px;
      padding-left: 7px;
    }

    &:hover {
      img {
        filter: invert(1);
      }
    }
  }
}

#about {
  #about-container {
    max-width: 1000px;
    margin: 0 auto;
    div {
      padding: 0;
    }
    p {
      border: 2px solid $light;
      box-shadow: 10px 10px $accent;
      background-color: $dark;
      color: $light;
      padding: 25px;
      @media (min-width: 960px) {
        margin-top: 70px;
      }
      max-width: 500px;
    }
  }
  .headshot-container {
    position: relative;
    display: inline-block;
    border: 2px solid $accent;
    &:hover {
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("/static/headshot-2.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;
      }
    }
    .headshot {
      position: relative;
      @media (max-width: 768px) {
        @include img-fluid;
      }
    }
  }
}

footer {
  position: relative;

  #footer-container {
    position: relative;
    z-index: 5;
    padding: 40px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }

  background-color: $dark;
  color: white;
}
