// Adapted from https://codyhouse.co/gem/vertical-timeline/

#timeline--wrapper {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
  &::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    height: 100%;
    width: 10px;
    background: $dark;
  }
}

@media only screen and (min-width: 1170px) {
  #timeline--wrapper {
    margin-top: 3em;
    margin-bottom: 3em;
    &::before {
      left: 50%;
      margin-left: -5px;
    }
  }
}

.timeline--block {
  position: relative;
  margin: 2em 0;
  &::after {
    content: "";
    display: table;
    clear: both;
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  @media only screen and (min-width: 1170px) {
    .timeline--block {
      margin: 4em 0;
    }
  }
}

.timeline--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $light;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);

  img {
    display: block;
    width: 46px;
    height: 46px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -23px;
    margin-top: -23px;
  }

  @media only screen and (min-width: 1170px) {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
  }
}

.timeline--content {
  position: relative;
  margin-left: 60px;
  background: transparent;
  border-radius: 0.25em;
  padding: 1em;

  p, .timeline--date {
    font-size: 13px;
    font-size: 0.8125rem;
  }

  .timeline--date {
    display: inline-block;
    float: left;
    padding: .8em 0;
    opacity: .7;
  }

  p {
    margin: 1em 0;
    line-height: 1.6;
  }

  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 16px;
      font-size: 1rem;
    }
    
    p, ul {
      font-size: 14px;
      font-size: 0.9rem;
    }

    ul {
      padding: 0;
    }

    .timeline--date {
      font-size: 14px;
      font-size: 0.875rem;
    }
  }
}

@media only screen and (min-width: 1170px) {
  .timeline--content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;

    .timeline--date {
      position: absolute;
      width: 100%;
      left: 122%;
      top: 6px;
      font-size: 16px;
      font-size: 1rem;
    }
  }

  .timeline--block:nth-child(even) .timeline--content {
    float: right;

    .timeline--date {
      left: auto;
      right: 122%;
      text-align: right;
    }
  }
}