.fill-viewport {
  height: 700px;
  height: 100vh;
}

.inline-block {
  display: inline-block;
}

.hidden {
  visibility: hidden;
}

@mixin img-fluid {
  max-width:100%;
  height:auto;
}

.text-container {
  z-index: 10;
}

.highlight {
  font-weight: 600;
  position: relative;
  z-index: 10;
  &::after {
    content: "";
    position: absolute;
    height: 16px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: $light;
  }
}

.wipe-hover {
  overflow: hidden;
  position: relative;
  transition: 0.25s all ease-in-out;
  &::after {
    clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
    transition: all 0.25s linear;
    content: "";
    position: absolute;
    width: 400%;
    top: 0;
    bottom: 0;
    z-index: 2;
    background-color: $light;
    transform: translateX(-130%);
  }
  &:hover {
    text-decoration: none;
    &::after {
      transform: translateX(30%);
    }
  }
}

.inline-list {
  list-style-type: none;
  padding: 0;
  li {
    display: inline-block;
    margin: 2px;
  }
}

.media-links {
  @extend .inline-list;
  img {
    transition: 0.25s all ease-in-out;
    width: 40px;
    &:hover {
      width: 50px;
    }
  }
}

ul.tag {
  @extend .inline-list;
  li {
    font-weight: 600;
    font-size: 12px;
    padding: 3px 8px;
    margin: 2px;
    border: 2px solid $primary;
    border-radius: 4px;
    background-color: transparent;
    color: $primary;
  }
}