.fill-viewport {
    height: 700px;
    height: 100vh;
}

.highlight {
    font-weight: 600;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        height: 16px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: lightgray;
    }
}