$light-grey: #e7e7e7;
$dark-grey: #424242;


body {
    letter-spacing: 1px;
    color: $dark-grey;
    word-wrap: break-word;
    font-family: "Lato", sans-serif;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

p {
    max-width: 600px;
    margin: 0 auto;
    line-height: 2;
}

//-------HEADER SECTION---------------

.navbar-default {

    font-family: "Oswald", sans-serif;
    background-color: white;

    .navbar-nav {
        display: inline-block;
        float: none;
        text-transform: uppercase;
        letter-spacing: 3px;
        li {
            width: 115px;
            margin: 0px 12px 0px 12px;
        }
    }

    .navbar-collapse {
        text-align: center;
    }
    .hvr-underline-from-left:before {
        background: #2f4557;
    }
}

.jumbotron {
    color: white;
    background: url("../images/bg.jpeg");
    background-size: cover;
    margin-bottom: 0px;
    height: 250px;
    display:flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 15px;

    a {
        color: white;
        &:hover {
            color: $dark-grey;
            transition: ease-in-out 0.3s all;
        }
    }
}

//--------ABOUT PAGE-------------------

.about-page-block {
    padding: 50px;
    outline: solid;
    outline-offset: -15px;
    outline-color: $light-grey;
    outline-width: thin;
    height: 450px;
    img {
        max-height: 350px;
    }
}

#profile-img {
    padding: 20px;
    float: none;
}

#skills {
    margin: 20px;
    text-align: center;

    .icon {
        font-size: 2em;
    }
}


//--------PROJECTS PAGE-----------------

.project-box {

    img {
        padding: 20px;
    }
    margin: 0 auto;
    padding: 20px;
    outline-offset: -10px;
    outline: solid;
    outline-color: $light-grey;
    outline-width: thin;
    height: 400px;
}

.project-text {
    margin: 15px;
}

//----------TUMBLR PAGE-----------------

.thumbnail {
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

//--------LASTFM PAGE-------------------

.albumart {
    padding-left: 0px;
    padding-right: 0px;
    border: 0px black solid;
}

#lastfm-container {
    margin: 0 auto;
    width: 100%;
    padding: 50px;
}


//-------------SPINNER------------------
//http://tobiasahlin.com/spinkit/

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}