body {
    letter-spacing: 1px;
    color: #424242;
    word-wrap: break-word;
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

//-------HEADER SECTION---------------

.navbar-default {

    font-family: "Oswald", sans-serif;
    background-color: #FFFFFF;

    .navbar-nav {
        display: inline-block;
        float: none;
        text-transform: uppercase;
        letter-spacing: 3px;
        li{
            width: 115px;
            margin: 0px 12px 0px 12px;
        }
    }

    .navbar-collapse {
        text-align: center;
    }
}

.jumbotron {
    color: white;
    background-color: #ed867d;
    background: url("https://hd.unsplash.com/photo-1469106233956-20341cc41f8b");
    background-size: cover;
    margin-bottom: 0px;
    height: 250px;
}

//--------ABOUT PAGE-------------------

.about-page-block {
    padding: 50px;
    line-height: 2.5;
    outline: solid;
    outline-offset: -15px;
    outline-color: #e7e7e7;
    outline-width: thin;

    img{
        max-height: 350px;
    }
}

#profile-img {
    padding: 20px;
    float: none;
}

//----------TUMBLR PAGE-----------------

.thumbnail {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}

//--------LASTFM PAGE-------------------

.albumart {
    padding-left: 0px;
    padding-right: 0px;
    border: 1px black solid;
}

#lastfm-container {
    margin: 0 auto;
    width: 100%;
}